.message{data: {message: {id: message.id}}}
  .main_chat__messages__message
    .main_chat__messages__message__upper
      .main_chat__messages__message__upper__user_name
        = message.user.name
      .main_chat__messages__message__upper__timestamp
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .main_chat__messages__message__text
      - if message.text.present?
        %p.main_chat__messages__message__text__content
          = message.text
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?