.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  &__user {
    height: 100px;
    width: 300px;
    background-color: #253141;
    position: relative;
    &__utilities {
      background-color: #253141;
      height: 20px;
      width: 260px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__user_name {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
     }
      &__icons {
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        .btn {
          .fa-cog {
            color: #ffffff;
            margin-left: 5px;
          }
          .fa-edit {
            color: #ffffff;
          }
        } 
     }
    }
  }
  &__groups {
    // height: 91px;
    // width: 100%;
    // position: relative;
    // .group_link {
    //   text-decoration: none;
    //   color:white;
    // }
    overflow: scroll;
    &__group {
      height: 91px;
      width: 100%;
      position: relative;
      .group_link {
        text-decoration: none;
        color:white;
      }
      &__group_name {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
        color: #ffffff;
      }
      &__group_message {
        position: absolute;
        top: 55px;
        left: 20px;
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
        line-height: 11px;
      }
    }
  }
}